

.affix {
    position: fixed;
    z-index: 1;
    bottom: 1.5rem;
    right: 1.5rem;
    width: 40px;
    height: 40px;
    border-radius: 0.5rem;
    background: -webkit-linear-gradient(35deg,#ade1ea, #f4b3ef, #ffd84c);
    display: flex;
    transition: all 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        opacity: 0.6;
    }
    100% {
        transform: scale(1);
    }
}

.arrowdown {
    transition: all 0.3s ease-in-out;
    transform: rotate(180deg);
}

.arrow {
    transition: all 0.3s ease-in-out;
}

.hidden {
    /* opacity: 0; */
    /* animation: pulse ease-in-out 2s infinite; */
    cursor: pointer;
    pointer-events: auto;
    /* transform: translate(-50%, 0); */
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
    /* visibility: hidden !important; */
}
.affix:hover {
    transform: scale(0.95);
}

.visible {
    opacity: 1;
    pointer-events: auto;
}
