.btn {
    text-decoration: none;
    position: relative;
    width: fit-content;
    color: black;
    display: block;
    background: -webkit-linear-gradient(35deg,#ade1ea, #f4b3ef, #ffd84c);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font: inherit;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.9rem;
    border: none;
    transition: all .2s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}
.a {
    margin: 2rem 0;
    position: relative;
    text-decoration: none;
    display: inline-block;
}
.btn:hover {
    opacity: 0.9;
    transform: scale(1.05);
}
.btn:active {
    transform: scale(0.95);
    border: none;
}

/* .btn::after {
    display: none;
} */


.animation {
    pointer-events: none;
    width: 100%;
    text-decoration: none;
    height: 100%;
    left: 0;
    position: absolute; top: 0;
    transform: translateX(-150px);
    opacity: 0.4;
    transition: all 1s ease-in-out;
    background: linear-gradient(45deg,  transparent, transparent, white, transparent, transparent  );
}

.btn:hover .animation {
    animation: gradient 1.5s infinite;
  }
  
  @keyframes gradient {
    0% {
      transform: translateX(-150px);
    }
    100% {
        transform: translateX(150px);
    }
  }