
.container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}


.card {
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    position: relative;
    background: #1c2124;
    aspect-ratio: 1;
    padding: 0.75rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.card:hover {
    opacity: 0.8;
}

.card:active {
    transform: scale(0.95);
}