html,
body {
  margin: 0 2rem;
  padding: 0;
  color: white;
  background-color: #0d0d0d;
  font-family: 'Raleway' ,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body::after{
  content: '';
  color: 'black';
  height: 80vh;
  width: 80vh;
  z-index: 0;
  pointer-events: none;
  background: radial-gradient(circle at 100% 0%, #2f1320, transparent, transparent);
  position: absolute;
  top: 0;
  right: 0;
}
  body::before{
    content: '';
    color: 'black';
    height: 80vh;
    width: 80vh;
    z-index: 0;
    pointer-events: none;
    background: radial-gradient(circle at 0% 100%, #1c0d2a, transparent, transparent);
    position: fixed;
    z-index: 0;
    bottom: 0;
    left: 0;
  }


  

  /* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #445055;
  border-radius: 10px;
}


* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@media (max-width: 600px) {
  html,body {
    margin: 0;
    padding: 0;
  }
}
