.container {
    padding: 2rem 0;
    position: relative;
    z-index: 1;
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    padding: 0;
    margin: 0;
}

.presentation {
    width: fit-content;
    padding: 0;
    margin: 0;
    display: inline-block;
    background: -webkit-linear-gradient(35deg,#ade1ea, #f4b3ef, #ffd84c);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.25rem;   
}

.subtitle {
    padding: 0.25rem 0;
    margin: 0;
    display: block;
    background: -webkit-linear-gradient(35deg,#ade1ea, #f4b3ef, #ffd84c);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;   
}

.about {
    line-height: 1.4rem;
    padding: 2rem 0 0 0;
    margin: 0;
    display: inline-block;
    background: #8d9ba5;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1rem;
    font-weight: 600;
}

.buzzword {
    margin: 0;
    display: inline-block;
    background: -webkit-linear-gradient(35deg,#ade1ea, #f4b3ef, #ffd84c);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: underline;
}


@media screen and (max-height: 480px) {
    .container {
        height: auto;
    }
}
    

@media screen and (max-width: 400px) {
    .name {
        font-size: 2rem;
    }
    .presentation {
        font-size: 0.9rem;
    }
    .subtitle {
        font-size: 0.9rem;
    }
    .about {
        font-size: 0.9rem;
    }
}