.container {
    padding:  2rem 0;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.hamburger {
    display: none;
}


.link {
    color: #8d9ba5;
    text-decoration: none;
    margin-right: 1rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.link:hover {
    transform: scale(0.95);
    background: -webkit-linear-gradient(35deg,#ade1ea, #f4b3ef, #ffd84c);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flag {
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 0.25rem;
    margin: 0;
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
}

.flag:hover {
    transform: scale(0.95);
}

.menu-visible {
    display: block;
}

@keyframes menu {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}
    

@media screen and (max-width: 768px) {
    .overlay{
        display: block;
        width: 100vw;
        height: 100vh;
        background-color: black;
        opacity: 0.5;
        animation: opacity 0.3s ease-in-out;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
    .menu-visible {
        position: absolute;
        width: 100%;
        padding: 1.5rem;
        border-radius: 0.5rem;
        animation: menu 0.5s ease-in-out;
        gap: 1rem;
        top: 5.5rem;
        z-index: 100;
        background: #1c2124;
        display: flex !important;
        flex-direction: column;
    }
    .navlinks {
        display: none;      
    }
    
    .hamburger {
        display: block;
        width: 18px;
        height: 10px;
    }
      
    .hamburger::after {
        content: "";
        transition: all 0.3s ease-in-out;
        position: absolute;
        border-top: 0.2rem solid #fff;
        width: 18px;
        height: 10px;
        display: block;
    }
    .hamburger::before {
        content: "";
        transition: all 0.3s ease-in-out;
        position: absolute;
        border-bottom: 0.2rem solid #fff;
        width: 18px;
        height: 10px;
        display: block;
    }

    .hamburger-active {
        transition: all 0.3s ease-in-out;
        display: block;
    }

    .hamburger-active::after {
        transform: rotate(-45deg) translate(-1px, 4px);
        transform-origin: center;

    }
    .hamburger-active::before {
        transform: rotate(45deg) translate(-1px, -4px);;
        transform-origin: center;
    }

}

